<template>
  <header class="header">
    <div
      class="header__wrapper"
      :class="{ 'header__wrapper--centred': onlyLogo }"
    >
      <nuxt-link to="/" class="header__logo">
        <img data-src="/icons/logo.svg" alt="" class="lazyload header__image" />
      </nuxt-link>
      <a
        v-if="!onlyLogo"
        :href="buildVersion"
        @click="fileDownloadHandler()"
        class="header__cta"
      >
        <span class="header__cta--desktop">
          {{ $t('header.cta') }}
        </span>
        <img
          class="lazyload header__cta--mobile"
          data-src="/icons/download.svg"
          alt=""
        />
      </a>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      buildVersion: '',
    };
  },
  props: {
    onlyLogo: {
      type: Boolean,
      default: false,
    },
  },
  created() {
    this.buildVersion = `/builds/Jetnet_v_${process.env.buildVersion}.apk`;
  },
  methods: {
    fileDownloadHandler() {
      this.$fireAnalytics.logEvent('download_application_started');
      return false;
    },
  },
};
</script>

<style lang="scss" src="assets/styles/layout/_header.scss"></style>
