<template>
  <div class="wave-data">
    <canvas
      class="wave-data__canvas"
      ref="wave-canvas"
      :width="windowWidth"
      :height="elementHeight"
    ></canvas>
    <slot></slot>
  </div>
</template>

<script>
export default {
  data() {
    return {
      elementHeight: 100,
      windowWidth: 100,
      lines: 2,
      amplitude: 0.85,
      decrease: -0.03,
      tickerK: -0.05,
      fillColor: ['rgba(26, 98, 242, 0.05)', 'rgba(166, 22, 244, 0.05)'],
      gradientOffset: [0, 0.108],
      ang: 90,
      gradient: null,
      freq: [],
      tickers: [],
      ctx: null,
    };
  },
  methods: {
    getLength() {
      return Math.sqrt(Math.pow(this.elementHeight, 2));
    },
    getAngle(angle) {
      return (angle / 180) * Math.PI;
    },
    ticketsReset() {
      let time = 0;
      let e;

      for (
        this.tickers = [], this.freq = [], e = true, time = 0;
        time < this.lines;
        time++
      ) {
        this.tickers.push(0);
        e
          ? this.freq.push(100 + 30 * time)
          : this.freq.push(this.windowWidth / 3 + 30 * time);
      }
    },
    draw() {
      let lineNumber = 0;
      let time = 0;
      let n;
      let i;

      this.gradient = this.ctx.createLinearGradient(
        0,
        0,
        Math.cos(this.getAngle(this.ang)) * this.getLength(),
        Math.sin(this.getAngle(this.ang)) * this.getLength(),
      );

      for (
        this.ctx.clearRect(0, 0, this.windowWidth, this.elementHeight),
          lineNumber = 0;
        lineNumber < this.lines;
        lineNumber++
      ) {
        for (
          this.tickers[lineNumber] += this.tickerK - this.decrease * lineNumber,
            this.ctx.beginPath(),
            time = 0;
          time < this.windowWidth;
          time++
        ) {
          this.ctx.moveTo(time, this.elementHeight);
          n = Math.sin(time / this.freq[lineNumber] + this.tickers[lineNumber]);
          n -= n * this.decrease * lineNumber;
          i =
            this.elementHeight / 2 +
            ((this.amplitude * this.elementHeight) / 2) *
              n *
              Math.sin(this.tickers[lineNumber] / 2);
          this.ctx.lineTo(time, i);
          if (lineNumber === 1) {
            this.ctx.transform(-1, 0, 0, 1, 0, 0);
          }
        }
        this.gradient.addColorStop(
          this.gradientOffset[lineNumber],
          this.fillColor[lineNumber],
        );
        this.gradient.addColorStop(1, 'rgba(255, 255, 255, 0.1');
        this.ctx.strokeStyle = this.gradient;
        this.ctx.stroke();
        this.ctx.closePath();
      }
      requestAnimationFrame(this.draw);
    },
  },
  mounted() {
    this.windowWidth = document.body.clientWidth;
    this.ctx = this.$refs['wave-canvas'].getContext('2d');

    window.addEventListener('resize', () => {
      this.windowWidth = document.body.clientWidth;
      this.ticketsReset();
    });

    this.ticketsReset();
    this.draw();
  },
};
</script>

<style></style>
