<template>
  <div class="lang__wrapper">
    <ul class="lang__list">
      <template v-for="(lang, index) in langList">
        <li
          :key="lang.code"
          class="lang__list-item"
          :class="{ 'lang__list-item--active': $i18n.locale === lang.code }"
          @click="changeLang(lang.code)"
        >
          {{ lang.name }}
        </li>

        <li
          v-if="index !== langList.length - 1"
          :key="lang.code + '|'"
          class="lang__list-item lang__list-item--divider"
        >
          |
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    langList() {
      return this.$i18n.locales;
    },
  },
  methods: {
    changeLang(lang) {
      this.$store.dispatch('lang/setLang', lang);
    },
  },
};
</script>

<style lang="scss">
.lang {
  &__wrapper {
    max-width: 170px;
    width: 100%;

    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }

  &__list {
    text-align: right;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__list-item {
    margin: 10px 0;
    cursor: pointer;

    &--active {
      color: $main-color;
    }

    &--divider {
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}
</style>
