<template>
  <div
    :id="elementId"
    class="features__item-wrapper aos-init aos-animate"
    data-aos="zoom-in"
    data-aos-offset="100"
  >
    <div :class="iconClassesList">
      <img :data-src="iconSource" alt="" class="lazyload" />
    </div>
    <h3 class="features__item-heading">
      {{ heading }}
    </h3>
    <p class="features__item-description">
      {{ description }}
    </p>
  </div>
</template>

<script>
export default {
  props: {
    heading: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    iconName: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
  },
  computed: {
    elementId() {
      return `feature-${this.name}`;
    },
    iconSource() {
      return `/icons/${this.iconName}.svg`;
    },
    iconClassesList() {
      return `features__item-icon features__item-icon--${this.name}`;
    },
  },
};
</script>

<style></style>
