<template>
  <section class="terms">
    <div class="terms__content">
      <h1 class="terms__heading">
        {{ $t('termsPage.heading') }}
      </h1>
      <p class="terms__text">
        <b>{{ $t('termsPage.text[0].bold[0]') }}</b>
        {{ $t('termsPage.text[0].item') }}
        <b>{{ $t('termsPage.text[0].bold[1]') }}</b>
      </p>
      <p class="terms__text">
        {{ $t('termsPage.text[1]') }}
      </p>

      <p class="terms__text">
        {{ $t('termsPage.text[2]') }}
      </p>

      <p class="terms__text">
        {{ $t('termsPage.text[3]') }}
      </p>
      <p class="terms__text">
        {{ $t('termsPage.text[4]') }}
      </p>
      <p class="terms__text">
        {{ $t('termsPage.text[5]') }}
      </p>

      <ol class="terms__list">
        <li class="terms__item">
          <b>{{ $t('termsPage.list[0].bold[0]') }}</b>
          {{ $t('termsPage.list[0].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[1].bold[0]') }}</b>
          {{ $t('termsPage.list[1].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[2].bold[0]') }}</b>
          {{ $t('termsPage.list[2].item') }}
          <ol class="terms__list terms__list--cyrillic">
            <li class="li terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[2].list[0].item[0]') }}
              <b>{{ $t('termsPage.list[2].list[0].bold[0]') }} </b>
              {{ $t('termsPage.list[2].list[0].item[1]') }}
            </li>
            <li class="li terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[2].list[1].item[0]') }}
              <b>{{ $t('termsPage.list[2].list[1].bold[0]') }} </b>
              {{ $t('termsPage.list[2].list[1].item[1]') }}
            </li>
            <li class="li terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[2].list[2].item[0]') }}
              <b>{{ $t('termsPage.list[2].list[2].bold[0]') }} </b>
              {{ $t('termsPage.list[2].list[2].item[1]') }}
            </li>
            <li class="li terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[2].list[3].item[0]') }}
              <b>{{ $t('termsPage.list[2].list[3].bold[0]') }} </b>
              {{ $t('termsPage.list[2].list[3].item[1]') }}
            </li>
            <li class="li terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[2].list[4].item[0]') }}
              <b>{{ $t('termsPage.list[2].list[4].bold[0]') }} </b>
              {{ $t('termsPage.list[2].list[4].item[1]') }}
            </li>
            <li class="li terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[2].list[5].item[0]') }}
              <b>{{ $t('termsPage.list[2].list[5].bold[0]') }} </b>
              {{ $t('termsPage.list[2].list[5].item[1]') }}
            </li>
          </ol>
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[3].bold[0]') }}</b>
          {{ $t('termsPage.list[3].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[4].bold[0]') }}</b>
          {{ $t('termsPage.list[4].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[5].bold[0]') }}</b>
          {{ $t('termsPage.list[5].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[6].bold[0]') }}</b>
          {{ $t('termsPage.list[6].item') }}
          <ol
            class="terms__list terms__list--cyrillic terms__item--cyrillic-double"
          >
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[6].list[0]') }}
            </li>
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[6].list[1]') }}
            </li>
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[6].list[2]') }}
            </li>
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[6].list[3]') }}
            </li>
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[6].list[4]') }}
            </li>
          </ol>
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[7].bold[0]') }}</b>
          {{ $t('termsPage.list[7].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[8].bold[0]') }}</b>
          {{ $t('termsPage.list[8].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[9].bold[0]') }}</b>
          {{ $t('termsPage.list[9].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[10].bold[0]') }}</b>
          {{ $t('termsPage.list[10].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[11].bold[0]') }}</b>
          {{ $t('termsPage.list[11].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[12].bold[0]') }}</b>
          {{ $t('termsPage.list[12].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[13].bold[0]') }}</b>
          {{ $t('termsPage.list[13].item') }}
        </li>
        <li class="terms__item">
          {{ $t('termsPage.list[14].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[15].bold[0]') }}</b>
          {{ $t('termsPage.list[15].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[16].bold[0]') }}</b>
          {{ $t('termsPage.list[16].item') }}
          <ol
            class="terms__list terms__item--cyrillic terms__item--cyrillic-double"
          >
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[16].list[0]') }}
            </li>
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[16].list[1]') }}
            </li>
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[16].list[2]') }}
            </li>
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[16].list[3]') }}
            </li>
            <li
              class="terms__item terms__item--cyrillic terms__item--cyrillic-double"
            >
              {{ $t('termsPage.list[16].list[4]') }}
            </li>
          </ol>
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[17].bold[0]') }}</b>
          <ol class="terms__list terms__item--cyrillic">
            <li class="terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[17].list[0]') }}
            </li>
            <li class="terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[17].list[1]') }}
            </li>
            <li class="terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[17].list[2]') }}
            </li>
            <li class="terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[17].list[3]') }}
            </li>
            <li class="terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[17].list[4]') }}
            </li>
            <li class="terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[17].list[5]') }}
            </li>
            <li class="terms__item terms__item--clear">
              {{ $t('termsPage.list[17].list[6]') }}
            </li>
          </ol>
        </li>

        <li class="terms__item">
          {{ $t('termsPage.list[18].item') }}
          <ol class="terms__list terms__list--cyrillic">
            <li class="terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[18].list[0]') }}
            </li>
            <li class="terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[18].list[1]') }}
            </li>
            <li class="terms__item terms__item--cyrillic">
              {{ $t('termsPage.list[18].list[2]') }}
            </li>
          </ol>
        </li>

        <li class="terms__item">
          <b>{{ $t('termsPage.list[19].bold[0]') }}</b>
          {{ $t('termsPage.list[19].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[20].bold[0]') }}</b>
          <ol class="terms__list">
            <li class="terms__item">
              {{ $t('termsPage.list[20].list[0]') }}
            </li>
            <li class="terms__item">
              {{ $t('termsPage.list[20].list[1]') }}
            </li>
            <li class="terms__item">
              {{ $t('termsPage.list[20].list[2]') }}
            </li>
          </ol>
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[21].bold[0]') }}</b>
          {{ $t('termsPage.list[21].item') }}
        </li>
        <li class="terms__item">
          <b>{{ $t('termsPage.list[22].bold[0]') }}</b>
          {{ $t('termsPage.list[22].item') }}
        </li>
      </ol>

      <p class="terms__text">
        {{ $t('termsPage.text[6]') }}
      </p>
      <p class="terms__text">
        {{ $t('termsPage.text[7]') }}
      </p>
      <p class="terms__text">
        {{ $t('termsPage.text[8]') }}
      </p>
      <p class="terms__text">
        {{ $t('termsPage.text[9]') }}
      </p>
      <p class="terms__text">
        {{ $t('termsPage.text[10]') }}
      </p>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss">
.terms {
  @extend %main-grid;

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }

  &__heading {
    @extend %main-heading;
    margin: 25px 0;
  }

  &__text {
    width: 100%;
  }

  &__list {
    counter-reset: item;
    padding: 0;
  }
  &__item {
    display: block;
    margin: 10px 0;

    &::before {
      content: counters(item, '.') '. ';
      counter-increment: item;
    }

    &--cyrillic {
      &::before {
        content: '';
      }
    }

    &--cyrillic-double {
      &::before {
        content: '';
      }
    }
  }

  &__sub-list {
    counter-reset: itemRoman;
    list-style-type: none;
  }

  &__sub-item {
    &::before {
      content: counter(itemRoman, lower-roman) ') ';
      counter-increment: itemRoman;
    }
  }
}
</style>
