<template>
  <section class="privacy">
    <div class="privacy__content">
      <h1 class="privacy__heading">
        {{ $t('privacyPage.heading') }}
      </h1>
      <p class="privacy__text">
        {{ $t('privacyPage.text[0]') }}
      </p>

      <p class="privacy__text">
        {{ $t('privacyPage.text[1]') }}
      </p>
      <ol class="privacy__list">
        <li class="privacy__item">
          {{ $t('privacyPage.list[0].item') }}
          <ol class="privacy__list">
            <li class="privacy__item">
              {{ $t('privacyPage.list[0].list[0].item') }}
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[0].list[1].item') }}
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[0].list[2].item') }}
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[0].list[3].item') }}
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[0].list[4].item') }}
              <ol class="privacy__sub-list">
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[0].list[4].list[0]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[0].list[4].list[1]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[0].list[4].list[2]') }}
                </li>
              </ol>
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[0].list[5].item') }}
            </li>
          </ol>
        </li>
        <li class="privacy__item">
          {{ $t('privacyPage.list[1].item') }}
          <ol class="privacy__list">
            <li class="privacy__item">
              {{ $t('privacyPage.list[1].list[0].item') }}
              <ol class="privacy__sub-list">
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[0].list[0]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[0].list[1]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[0].list[2]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[0].list[3]') }}
                </li>
              </ol>
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[1].list[1].item') }}
              <ol class="privacy__sub-list">
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[1].list[0]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[1].list[1]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[1].list[2]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[1].list[3]') }}
                </li>
              </ol>
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[1].list[2].item') }}
              <ol class="privacy__sub-list">
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[2].list[0]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[2].list[1]') }}
                </li>
              </ol>
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[1].list[3].item') }}
              <ol class="privacy__sub-list">
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[3].list[0]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[3].list[1]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[3].list[2]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[3].list[3]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[3].list[4]') }}
                </li>
              </ol>
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[1].list[4].item') }}
              <ol class="privacy__sub-list">
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[4].list[0]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[4].list[1]') }}
                </li>
              </ol>
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[1].list[5].item') }}
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[1].list[6].item') }}
              <ol class="privacy__sub-list">
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[6].list[0]') }}
                </li>
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[1].list[6].list[1]') }}
                </li>
              </ol>
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[1].list[7].item') }}
            </li>
          </ol>
        </li>
        <li class="privacy__item">
          {{ $t('privacyPage.list[2].item') }}
          <ol class="privacy__sub-list">
            <li class="privacy__sub-item">
              {{ $t('privacyPage.list[2].list[0].item') }}
            </li>
            <li class="privacy__sub-item">
              {{ $t('privacyPage.list[2].list[1].item') }}
            </li>
            <li class="privacy__sub-item">
              {{ $t('privacyPage.list[2].list[2].item') }}
              <ol class="privacy__sub-list">
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[2].list[2].list[0]') }}
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li class="privacy__item">
          {{ $t('privacyPage.list[3].item') }}
          <ol class="privacy__list">
            <li class="privacy__item">
              {{ $t('privacyPage.list[3].list[0].item') }}
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[3].list[1].item') }}
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[3].list[2].item') }}
              <ol class="privacy__sub-list">
                <li class="privacy__sub-item">
                  {{ $t('privacyPage.list[3].list[2].list[0]') }}
                </li>
              </ol>
            </li>
            <li class="privacy__item">
              {{ $t('privacyPage.list[3].list[3].item') }}
            </li>
          </ol>
        </li>
        <li class="privacy__item">
          {{ $t('privacyPage.list[4].item') }}
        </li>
        <li class="privacy__item">
          {{ $t('privacyPage.list[5].item') }}
        </li>
        <li class="privacy__item">
          {{ $t('privacyPage.list[6].item') }}
          <ol class="privacy__sub-list">
            <li class="privacy__sub-item">
              {{ $t('privacyPage.list[6].list[0]') }}
            </li>
            <li class="privacy__sub-item">
              {{ $t('privacyPage.list[6].list[1]') }}
            </li>
          </ol>
        </li>
        <li class="privacy__item">
          {{ $t('privacyPage.list[7].item') }}
        </li>
        <li class="privacy__item">
          {{ $t('privacyPage.list[8].item') }}
        </li>
      </ol>
      {{ $t('privacyPage.text[2]') }}
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss">
.privacy {
  @extend %main-grid;

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }

  &__heading {
    @extend %main-heading;
    margin: 25px 0;
  }

  &__list {
    counter-reset: item;
  }
  &__item {
    display: block;
    margin: 10px 0;

    &::before {
      content: counters(item, '.') '. ';
      counter-increment: item;
    }
  }

  &__sub-list {
    counter-reset: itemRoman;
    list-style-type: none;
  }

  &__sub-item {
    &::before {
      content: counter(itemRoman, lower-roman) ') ';
      counter-increment: itemRoman;
    }
  }
}
</style>
