@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-BoldItalic.eot');
  src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
    url('/fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-BoldItalic.woff') format('woff'),
    url('/fonts/GothamPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-Italic.eot');
  src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
    url('/fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Italic.woff') format('woff'),
    url('/fonts/GothamPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-Medium.eot');
  src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
    url('/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Medium.woff') format('woff'),
    url('/fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-BlackItalic.eot');
  src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
    url('/fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-BlackItalic.woff') format('woff'),
    url('/fonts/GothamPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
    url('/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Bold.woff') format('woff'),
    url('/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('/fonts/GothamProNarrow-Bold.eot');
  src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
    url('/fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamProNarrow-Bold.woff') format('woff'),
    url('/fonts/GothamProNarrow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('/fonts/GothamProNarrow-Medium.eot');
  src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
    url('/fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamProNarrow-Medium.woff') format('woff'),
    url('/fonts/GothamProNarrow-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-LightItalic.eot');
  src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
    url('/fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-LightItalic.woff') format('woff'),
    url('/fonts/GothamPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-Light.eot');
  src: local('Gotham Pro Light'), local('GothamPro-Light'),
    url('/fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Light.woff') format('woff'),
    url('/fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-Black.eot');
  src: local('Gotham Pro Black'), local('GothamPro-Black'),
    url('/fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Black.woff') format('woff'),
    url('/fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
    url('/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro.woff') format('woff'),
    url('/fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-MediumItalic.eot');
  src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
    url('/fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-MediumItalic.woff') format('woff'),
    url('/fonts/GothamPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
