<template>
  <main>
    <section class="intro">
      <particles-bubbles className="intro__background">
        <img data-src="/images/path.svg" alt="" class="lazyload" />
      </particles-bubbles>
      <div class="intro__content">
        <h1 class="intro__heading">
          {{ $t('homePage.intro.heading') }}
        </h1>
        <p class="intro__description">
          {{ $t('homePage.intro.description') }}
        </p>
        <picture>
          <source data-srcset="/images/intro-image.webp" type="image/webp" />
          <source data-srcset="/images/intro-image.png" type="image/png" />
          <img
            class="lazyload intro__image"
            data-src="/images/intro-image.png"
            alt=""
          />
        </picture>
      </div>
    </section>
    <section class="how-works">
      <div class="how-works__content">
        <h2 class="how-works__heading">
          {{ $t('homePage.howWorks.heading') }}
        </h2>
      </div>
      <waves-component>
        <div class="how-works__image-wrapper">
          <img
            data-src="/icons/how-it-works.svg"
            alt=""
            class="lazyload how-works__image"
          />
        </div>
      </waves-component>
      <div class="how-works__content">
        <p class="how-works__description">
          {{ $t('homePage.howWorks.description[0]') }}
        </p>
        <p class="how-works__description">
          {{ $t('homePage.howWorks.description[1]') }}
        </p>
      </div>
    </section>
    <section class="features">
      <div class="features__content">
        <h2 class="features__heading">
          {{ $t('homePage.features.heading') }}
        </h2>
        <div class="features__list-wrapper">
          <feature-list-item
            :heading="$t('homePage.features.items.ad.heading')"
            :description="$t('homePage.features.items.ad.description')"
            :name="'ad'"
            :iconName="'www'"
          />

          <feature-list-item
            :heading="$t('homePage.features.items.social.heading')"
            :description="$t('homePage.features.items.social.description')"
            :name="'social'"
            :iconName="'user'"
          />

          <feature-list-item
            :heading="$t('homePage.features.items.youtube.heading')"
            :description="$t('homePage.features.items.youtube.description')"
            :name="'youtube'"
            :iconName="'Polygon'"
          />

          <feature-list-item
            :heading="$t('homePage.features.items.adult.heading')"
            :description="$t('homePage.features.items.adult.description')"
            :name="'adult'"
            :iconName="'18+'"
          />

          <feature-list-item
            :heading="$t('homePage.features.items.apps.heading')"
            :description="$t('homePage.features.items.apps.description')"
            :name="'apps'"
            :iconName="'app'"
          />

          <feature-list-item
            :heading="$t('homePage.features.items.pages.heading')"
            :description="$t('homePage.features.items.pages.description')"
            :name="'pages'"
            :iconName="'hair'"
          />

          <feature-list-item
            :heading="$t('homePage.features.items.sites.heading')"
            :description="$t('homePage.features.items.sites.description')"
            :name="'sites'"
            :iconName="'bug'"
          />

          <feature-list-item
            :heading="$t('homePage.features.items.traffic.heading')"
            :description="$t('homePage.features.items.traffic.description')"
            :name="'traffic'"
            :iconName="'alternate'"
          />

          <feature-list-item
            :heading="$t('homePage.features.items.incognito.heading')"
            :description="$t('homePage.features.items.incognito.description')"
            :name="'incognito'"
            :iconName="'agent'"
          />
        </div>
      </div>
    </section>

    <section class="parent-control"></section>

    <section class="traffic">
      <div class="traffic__content">
        <h2 class="traffic__heading">
          {{ $t('homePage.traffic.heading') }}
        </h2>
        <div class="traffic__item">
          <div class="traffic__item-image">
            <picture>
              <source data-srcset="/images/Phone1.webp" type="image/webp" />
              <source data-srcset="/images/Phone1.png" type="image/png" />
              <img
                data-src="/images/Phone1.png"
                alt=""
                class="lazyload aos-init aos-animate"
                data-aos="fade-up"
              />
            </picture>
          </div>
          <div class="traffic__item-content">
            <h3 class="traffic__item-heading">
              {{ $t('homePage.traffic.item1.heading') }}
            </h3>
            <p class="traffic__item-description">
              {{ $t('homePage.traffic.item1.description[0]') }}
            </p>

            <p class="traffic__item-description">
              {{ $t('homePage.traffic.item1.description[1]') }}
            </p>
          </div>
        </div>
        <div class="traffic__item">
          <div class="traffic__item-image">
            <picture>
              <source data-srcset="/images/Phone2.webp" type="image/webp" />
              <source data-srcset="/images/Phone2.png" type="image/png" />
              <img
                data-src="/images/Phone2.png"
                alt=""
                class="lazyload aos-init aos-animate"
                data-aos="fade-up"
              />
            </picture>
          </div>
          <div class="traffic__item-content">
            <h3 class="traffic__item-heading">
              {{ $t('homePage.traffic.item2.heading') }}
            </h3>
            <p class="traffic__item-description">
              {{ $t('homePage.traffic.item2.description[0]') }}
            </p>

            <p class="traffic__item-description">
              {{ $t('homePage.traffic.item2.description[1]') }}
            </p>
          </div>
        </div>
        <div class="traffic__item">
          <div class="traffic__item-image">
            <picture>
              <source
                class="lazyload traffic__image"
                data-srcset="/images/Phone3.webp"
                type="image/webp"
              />
              <source
                class="lazyload traffic__image"
                data-srcset="/images/Phone3.png"
                type="image/png"
              />
              <img
                data-src="/images/Phone3.png"
                alt=""
                class="lazyload traffic__image aos-init aos-animate"
                data-aos="fade-up"
              />
            </picture>
          </div>
          <div class="traffic__item-content">
            <h3 class="traffic__item-heading">
              {{ $t('homePage.traffic.item3.heading') }}
            </h3>
            <p class="traffic__item-description">
              {{ $t('homePage.traffic.item3.description[0]') }}
            </p>

            <p class="traffic__item-description">
              {{ $t('homePage.traffic.item3.description[1]') }}
            </p>
          </div>
        </div>
        <div class="traffic__start">
          <img data-src="/icons/logo-white.svg" alt="" class="lazyload" />
          <h2 class="traffic__start-heading">
            {{ $t('homePage.traffic.start.heading') }}
          </h2>
          <p class="traffic__start-description">
            {{ $t('homePage.traffic.start.description') }}
          </p>
          <a
            :href="buildVersion"
            @click="fileDownloadHandler()"
            class="traffic__start-trial"
          >
            {{ $t('homePage.traffic.start.link') }}
          </a>
        </div>
      </div>
    </section>

    <qa-section />
  </main>
</template>

<script>
import ParticlesBubbles from './../../particles-bubbles/ParticlesBubbles';
import WavesComponent from './../../waves-component/WavesComponent';
import QaSection from './QaSection';
import FeatureListItem from './../../feature-list-item/FeatureListItem';

export default {
  data() {
    return {
      buildVersion: '',
    };
  },
  components: {
    ParticlesBubbles,
    WavesComponent,
    QaSection,
    FeatureListItem,
  },
  created() {
    this.buildVersion = `/builds/Jetnet_v_${process.env.buildVersion}.apk`;
  },
  methods: {
    fileDownloadHandler() {
      this.$fireAnalytics.logEvent('download_application_started');
      return false;
    },
  },
};
</script>

<style lang="scss" src="assets/styles/pages/_home.scss"></style>
