<template>
  <section class="qa">
    <div class="qa__content">
      <h2 class="qa__heading">{{ $t('homePage.qa.heading') }}</h2>
      <ul class="qa__list">
        <li class="qa__item">
          <div
            class="qa__item-heading collapsed"
            id="headingOne"
            v-b-toggle.collapse-1
          >
            {{ $t('homePage.qa.collapse1.heading') }}
          </div>
          <b-collapse
            class="collapse"
            id="collapse-1"
            accordion="my-accordion"
            role="tabpanel"
          >
            <div class="qa__item-collapse">
              <hr class="qa__item-divider" />
              <p class="qa__item-text">
                {{ $t('homePage.qa.collapse1.description') }}
              </p>
            </div>
          </b-collapse>
        </li>
        <li class="qa__item">
          <div
            class="qa__item-heading collapsed"
            id="headingTwo"
            v-b-toggle.collapse-2
          >
            {{ $t('homePage.qa.collapse2.heading') }}
          </div>
          <b-collapse
            class="collapse"
            id="collapse-2"
            accordion="my-accordion"
            role="tabpanel"
          >
            <div class="qa__item-collapse">
              <hr class="qa__item-divider" />
              <p class="qa__item-text">
                {{ $t('homePage.qa.collapse2.description[0]') }}
                <a :href="buildVersion" @click="fileDownloadHandler()">
                  {{ $t('homePage.qa.collapse2.description[1]') }}
                </a>
                {{ $t('homePage.qa.collapse2.description[2]') }}
              </p>
              <p class="qa__item-text">
                {{ $t('homePage.qa.collapse2.description[3]') }}
              </p>
            </div>
          </b-collapse>
        </li>
        <li class="qa__item">
          <div
            class="qa__item-heading collapsed"
            id="headingThree"
            v-b-toggle.collapse-3
          >
            {{ $t('homePage.qa.collapse3.heading') }}
          </div>
          <b-collapse
            class="collapse"
            id="collapse-3"
            accordion="my-accordion"
            role="tabpanel"
          >
            <div class="qa__item-collapse">
              <hr class="qa__item-divider" />
              <p class="qa__item-text">
                {{ $t('homePage.qa.collapse3.description[0]') }}
              </p>
              <ol>
                <li>
                  {{ $t('homePage.qa.collapse3.description[1]') }}
                </li>
                <li>{{ $t('homePage.qa.collapse3.description[2]') }}</li>
                <li>{{ $t('homePage.qa.collapse3.description[3]') }}</li>
                <li>{{ $t('homePage.qa.collapse3.description[4]') }}</li>
              </ol>
            </div>
          </b-collapse>
        </li>
        <li class="qa__item">
          <div
            class="qa__item-heading collapsed"
            id="headingFour"
            v-b-toggle.collapse-4
          >
            {{ $t('homePage.qa.collapse4.heading') }}
          </div>
          <b-collapse
            class="collapse"
            id="collapse-4"
            accordion="my-accordion"
            role="tabpanel"
          >
            <div class="qa__item-collapse">
              <hr class="qa__item-divider" />
              <p class="qa__item-text">
                {{ $t('homePage.qa.collapse4.description[0]') }}
              </p>
              <p class="qa__item-text">
                {{ $t('homePage.qa.collapse4.description[1]') }}
              </p>
              <p class="qa__item-text">
                {{ $t('homePage.qa.collapse4.description[2]') }}
              </p>
              <ol>
                <li>{{ $t('homePage.qa.collapse4.description[3]') }}</li>
                <li>{{ $t('homePage.qa.collapse4.description[4]') }}</li>
                <li>{{ $t('homePage.qa.collapse4.description[5]') }}</li>
                <li>{{ $t('homePage.qa.collapse4.description[6]') }}</li>
              </ol>
            </div>
          </b-collapse>
        </li>
        <li class="qa__item">
          <div
            class="qa__item-heading collapsed"
            id="headingFive"
            v-b-toggle.collapse-5
          >
            {{ $t('homePage.qa.collapse5.heading') }}
          </div>
          <b-collapse
            class="collapse"
            id="collapse-5"
            accordion="my-accordion"
            role="tabpanel"
          >
            <div class="qa__item-collapse">
              <hr class="qa__item-divider" />
              <p class="qa__item-text">
                {{ $t('homePage.qa.collapse5.description') }}
              </p>
            </div>
          </b-collapse>
        </li>
      </ul>

      <h2 class="qa__ask">
        {{ $t('homePage.qa.ask.heading') }}
        <button
          type="button"
          class="qa__ask-link"
          v-b-modal.qaModal
          @click="openFormHandler"
        >
          {{ $t('homePage.qa.ask.headingBtn') }}
        </button>
      </h2>

      <div class="qa__start">
        <h3 class="qa__start-heading">
          {{ $t('homePage.qa.start.heading') }}
        </h3>
        <ul class="qa__start-list">
          <li class="qa__start-item">
            {{ $t('homePage.qa.start.prices[0].heading') }}
            <span class="qa__start-item-price">
              {{ $t('homePage.qa.start.prices[0].value') }}
            </span>
          </li>
          <li class="qa__start-item">
            {{ $t('homePage.qa.start.prices[1].heading') }}
            <span class="qa__start-item-price">
              {{ $t('homePage.qa.start.prices[1].value') }}
            </span>
          </li>
          <li class="qa__start-item">
            {{ $t('homePage.qa.start.prices[2].heading') }}
            <span class="qa__start-item-price">
              {{ $t('homePage.qa.start.prices[2].value') }}
            </span>
          </li>
        </ul>
        <a
          :href="buildVersion"
          @click="fileDownloadHandler()"
          class="qa__start-trial"
        >
          {{ $t('homePage.qa.start.download') }}
        </a>
        <img
          data-src="/images/trial-start.svg"
          alt
          class="lazyload qa__start-image"
        />
      </div>
    </div>

    <b-modal
      id="qaModal"
      centered
      hide-footer
      :title="$t('homePage.qa.modal.title')"
    >
      <b-form
        v-if="!isFormSubmitted"
        id="supportForm"
        novalidate
        @submit.prevent="onSubmit"
      >
        <b-form-group
          :label="$t('homePage.qa.modal.fields.name.label')"
          label-for="name"
          :class="{ 'has-error': $v.form.name.$error }"
        >
          <b-form-input
            id="name"
            class="form-control"
            type="text"
            v-model.trim="$v.form.name.$model"
          ></b-form-input>
          <div v-if="$v.form.name.$dirty" class="messages">
            <p v-if="!$v.form.name.required" class="help-block error">
              {{ $t('homePage.qa.modal.fields.name.errors.required') }}
            </p>
          </div>
        </b-form-group>
        <b-form-group
          :label="$t('homePage.qa.modal.fields.email.label')"
          label-for="email"
          :class="{ 'has-error': $v.form.email.$error }"
        >
          <b-form-input
            id="email"
            class="form-control"
            type="email"
            v-model.trim="$v.form.email.$model"
          ></b-form-input>

          <div v-if="$v.form.email.$dirty" class="messages">
            <p v-if="!$v.form.email.required" class="help-block error">
              {{ $t('homePage.qa.modal.fields.email.errors.required') }}
            </p>
            <p v-if="!$v.form.email.email" class="help-block error">
              {{ $t('homePage.qa.modal.fields.email.errors.email') }}
            </p>
          </div>
        </b-form-group>
        <b-form-group
          :label="$t('homePage.qa.modal.fields.subject.label')"
          label-for="subject"
          :class="{ 'has-error': $v.form.subject.$error }"
        >
          <b-form-input
            id="subject"
            class="form-control"
            type="text"
            v-model.trim="$v.form.subject.$model"
          ></b-form-input>
          <div v-if="$v.form.subject.$dirty" class="messages">
            <p v-if="!$v.form.subject.required" class="help-block error">
              {{ $t('homePage.qa.modal.fields.subject.errors.required') }}
            </p>
          </div>
        </b-form-group>
        <b-form-group>
          <b-form-input
            id="check"
            class="form-control"
            hidden
            type="text"
            v-model="form.check"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          :label="$t('homePage.qa.modal.fields.description.label')"
          label-for="description"
          :class="{ 'has-error': $v.form.description.$error }"
        >
          <b-form-textarea
            class="form-control"
            id="description"
            v-model.trim="$v.form.description.$model"
            name="description"
            rows="3"
          ></b-form-textarea>
          <div v-if="$v.form.description.$dirty" class="messages">
            <p v-if="!$v.form.description.required" class="help-block error">
              {{ $t('homePage.qa.modal.fields.description.errors.required') }}
            </p>
          </div>
        </b-form-group>
        <button
          type="submit"
          class="btn btn-block"
          :disabled="$v.form.$invalid"
        >
          {{ $t('homePage.qa.modal.submitBtn') }}
        </button>
      </b-form>
      <div v-if="isFormSubmitted">
        <h3 class="text-center">
          {{ $t('homePage.qa.modal.success.heading') }}
        </h3>
        <p class="text-center">
          {{ $t('homePage.qa.modal.success.description') }}
        </p>
      </div>
    </b-modal>
  </section>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';

export default {
  data() {
    return {
      form: {
        name: '',
        email: '',
        subject: '',
        check: '',
        description: '',
      },
      isFormSubmitted: false,
      buildVersion: '',
    };
  },
  methods: {
    async onSubmit() {
      const url = 'https://test-s1.myredex.com/jet_api/mobile/v1/saveForm';
      const formData = JSON.stringify(this.form);

      const requestOptions = {
        method: 'POST',
        body: formData,
        redirect: 'follow',
      };

      try {
        await fetch(url, requestOptions);
        this.isFormSubmitted = true;
        this.$fireAnalytics.logEvent('send_support_form_success');
      } catch (error) {
        console.log('error', error);
        this.$fireAnalytics.logEvent('send_support_form_failed');
      }
    },

    openFormHandler() {
      this.$fireAnalytics.logEvent('open_support_form');
    },
    fileDownloadHandler() {
      this.$fireAnalytics.logEvent('download_application_started');
      return false;
    },
  },
  validations: {
    form: {
      email: { required, email },
      name: {
        required,
      },
      subject: {
        required,
      },
      description: {
        required,
      },
    },
  },
  created() {
    this.buildVersion = `/builds/Jetnet_v_${process.env.buildVersion}.apk`;
  },
  mounted() {
    this.form.check = new Date().valueOf().toString();
  },
};
</script>

<style>
.modal-header {
  border: none;
}

.modal-title {
  font-weight: 400;
  text-align: center;
  width: 100%;
}
</style>
