<template>
  <div id="tsparticles" :class="className">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    className: { type: String, default: '' },
  },
  data: function() {
    return {
      id: 'particles-instance-' + Math.floor(Math.random() * 5000),
    };
  },
  mounted() {
    require('tsparticles');
    this.$nextTick(() => {
      this.initParticles();
    });
  },
  methods: {
    initParticles() {
      tsParticles.load('tsparticles', {
        particles: {
          number: { value: 25, density: { enable: false } },
          color: { value: ['#ff29fe', '#a616f4', '#f4de14', '#1689f4'] },
          shape: {
            type: 'circle',
            stroke: { width: 0, color: '#000000' },
            polygon: { sides: 5 },
          },
          opacity: {
            value: 0.9,
            random: false,
            animation: {
              enable: false,
            },
          },
          size: {
            value: 12.298408585928971,
            random: true,
            animation: { enable: false },
          },
          lineLinked: {
            enable: false,
          },
          move: {
            enable: true,
            speed: 2,
            direction: 'top',
            random: false,
            straight: false,
            outMode: 'out',
            bounce: false,
            attract: { enable: false },
          },
        },
        interactivity: {
          events: {
            onHover: {
              enable: false,
              mode: 'repulse',
            },
            onClick: {
              enable: false,
              mode: 'push',
            },
            resize: true,
          },
        },
        detectRetina: true,
      });
    },
  },
};
</script>

<style></style>
