@mixin grid {
  display: flex;
  flex-wrap: wrap;
}

@mixin container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
@mixin shadowsMixin($color) {
  box-shadow: 0px 15px 30px $color;

  @media screen and (max-width: 1024px) {
    box-shadow: 0px 5px 30px $color;
  }
}

%main-grid {
  display: flex;
  flex-wrap: wrap;
}

%main-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  font-family: 'Gotham Pro';

  @media screen and (max-width: 1024px) {
    margin: 0 15px;
  }
}

%main-heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.15;
  text-align: center;
  font-family: 'Gotham Pro';

  color: #362f3d;
  max-width: 920px;

  @media screen and (max-width: 1024px) {
    font-size: 36px;
    max-width: 700px;
  }

  @media screen and (max-width: 500px) {
    font-size: 26px;
  }
}

%banner {
  width: 100%;
  padding: 40px 40px 60px 40px;
  border-radius: 20px;

  @media screen and (max-width: 1024px) {
    padding: 30px 30px 40px 30px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

%banner-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
  padding: 20px;
  border-radius: 48px;
  margin-top: 30px;
  display: inline-block;

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #ffffff;
  }
}

%imageBorderShadow {
  border: 10px solid #ffffff;
  box-shadow: 25px 30px 45px #dde3e9;
  border-radius: 26px;
  box-sizing: content-box;
}
