@import './../utils/variables';

.btn {
  background: $main-color;
  box-shadow: 0px 10px 30px rgba(166, 22, 244, 0.3);
  border-radius: 49px;
  padding: 20px 30px;
  font-family: 'Gotham Pro';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #ffffff;
  }
}
