.has-error {
  & .control-label {
    color: #a94442;
  }

  & .form-control {
    border-color: #a94442;
  }
}

.help-block.error {
  color: #a94442;
  font-size: 0.8rem;
  padding-top: 5px;
}

.has-success {
  & .control-label {
    color: #3c763d;
  }

  & .form-control {
    border-color: #3c763d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}
