.wave-data {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 85px;

  &__canvas {
    position: absolute;
  }
}
