.footer {
  @extend %main-grid;
  margin: 60px 0;

  @media screen and (max-width: 1024px) {
    margin: 30px 0;
  }

  @media screen and (max-width: 500px) {
    margin: 10px 0;
  }

  &__content {
    @extend %main-container;
    max-width: 1200px;

    font-size: 14px;
    line-height: 1.55;

    color: #808b8f;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
      justify-content: center;
    }
  }

  &__nav {
    max-width: 320px;
    width: 100%;

    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }

  &__nav-list {
    text-align: right;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__nav-item {
    margin: 10px 0;

    &--divider {
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }

  &__nav-link {
    text-decoration: none;
    color: #808b8f;
  }
}
