.header {
  @extend %main-grid;

  &__wrapper {
    @extend %main-container;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 0;
    z-index: 100;

    @media screen and (max-width: 1024px) {
      display: flex;
      margin: 0 auto;
      width: 100%;
    }
    @media screen and (max-width: 500px) {
      justify-content: space-between;
      align-items: center;
      padding: 30px 15px 0;
    }

    &--centred {
      justify-content: center;
      padding-top: 45px;

      & .header__image {
        height: 60px;
      }
    }
  }

  &__cta {
    background: #a616f4;
    box-shadow: 0px 10px 30px rgba(166, 22, 244, 0.3);
    border-radius: 49px;
    padding: 20px 30px;
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
      color: #ffffff;
    }

    @media screen and (max-width: 500px) {
      $graidentFrom: #a616f4;
      $gradienTo: #ff29fe;
      padding: 10px 25px;
      box-shadow: unset;
      // border: 2px solid #a616f4;
      border-radius: 5px;
      background: linear-gradient(
        305.49deg,
        $graidentFrom 40.79%,
        $gradienTo 118.14%
      );

      &:hover {
        background: linear-gradient(
          305.49deg,
          $graidentFrom 40.79%,
          $gradienTo 118.14%
        );
      }
    }

    &--desktop {
      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    &--mobile {
      @media screen and (min-width: 500px) {
        display: none;
      }
    }
  }
}
