<template>
  <footer class="footer">
    <div class="footer__content">
      <p class="footer__rights">
        © 2019 Jetnet. All rights reserved.
      </p>
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <nuxt-link to="/terms" target="_blank" class="footer__nav-link">
              Terms & Conditions
            </nuxt-link>
          </li>
          <li class="footer__nav-item footer__nav-item--divider">
            |
          </li>
          <li class="footer__nav-item">
            <nuxt-link
              to="/privacy-policy"
              target="_blank"
              class="footer__nav-link"
            >
              Privacy Policy
            </nuxt-link>
          </li>
        </ul>
      </nav>
      <lang-switcher />
    </div>
  </footer>
</template>

<script>
import LangSwitcher from '../lang-switcher/LangSwitcher.vue';
export default {
  components: {
    LangSwitcher,
  },
};
</script>

<style lang="scss" src="assets/styles/layout/_footer.scss"></style>
