body {
    font-family: Helvetica, sans-serif;
    background-color: #f0f3f6;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: calc(100vh - 55px);
  }
  .heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: Helvetica, sans-serif;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .content__wrapper {
    width: 255px;
    text-align: center;
  }
  
  .content__image > img {
    width: 125px;
    height: 125px;
  }
  
  .content__image {
    margin-bottom: 50px;
  }
  
  .content__heading {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
  }
  .content__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.333;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }