.confirm {
  @extend %main-grid;
  position: relative;
  height: calc(100% - 150px);

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 10;
  }

  &__heading {
    @extend %main-heading;
    margin: 60px 0 30px 0;

    @media screen and (max-width: 1024px) {
      margin: 20px 0;
    }

    @media screen and (max-width: 450px) {
      max-width: 280px;
    }
  }

  &__home-btn {
    background: #a616f4;
    box-shadow: 0px 10px 30px rgba(166, 22, 244, 0.3);
    border-radius: 49px;
    padding: 20px 30px;
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
      color: #ffffff;
    }
  }
}
