.intro {
  @extend %main-grid;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 850px;

    & > img {
      z-index: 1;
      max-height: 900px;
      height: 850px;
      width: 100%;

      @media screen and (max-width: 500px) {
        height: 700px;
      }
    }

    & > canvas {
      position: absolute;
      top: 0;
      left: 0;
      height: 90% !important;

      @media screen and (max-width: 1024px) and (orientation: landscape) {
        height: 750px !important;
      }
    }
  }

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    & picture {
      flex-direction: column;
      align-items: center;
      display: flex;
    }
  }

  &__heading {
    @extend %main-heading;
    margin: 60px 0 30px 0;

    @media screen and (max-width: 1024px) {
      margin: 20px 0;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    max-width: 540px;

    color: #515a5e;
  }

  &__image {
    @extend %imageBorderShadow;

    margin-top: 25px;
    width: 360px;
    height: auto;

    @media screen and (max-width: 1024px) {
      width: 300px;
    }

    @media screen and (max-width: 500px) {
      width: 60%;
      margin-top: 50px;
    }
  }
}

.how-works {
  @extend %main-grid;

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    @extend %main-heading;
    margin: 140px 0 80px 0;

    @media screen and (max-width: 1024px) {
      margin: 70px 0 40px 0;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #515a5e;

    max-width: 840px;
    width: 100%;
  }

  &__image-wrapper {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: linear-gradient(180deg, #ffffff 0%, #f0f3f6 100%);
    box-shadow: 0px 15px 40px rgba(128, 139, 143, 0.29);
    border-radius: 20px;
  }
}

.features {
  @extend %main-grid;

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    @extend %main-heading;
    margin: 140px 0 120px 0;

    @media screen and (max-width: 1024px) {
      margin: 60px 0;
    }
  }

  &__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media screen and (max-width: 500px) {
      justify-content: center;
    }
  }

  &__item-wrapper {
    max-width: 380px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    @media screen and (max-width: 1024px) {
      max-width: 331px;
      margin: 18px 0;
    }

    @media screen and (max-width: 768px) {
      max-width: 245px;
    }

    @media screen and (max-width: 500px) {
      max-width: 300px;
    }
  }

  &__item-icon {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--ad,
    &--pages {
      background: linear-gradient(305.49deg, #a616f4 40.79%, #ff29fe 118.14%);

      @include shadowsMixin(rgba(166, 22, 244, 0.2));
    }

    &--social,
    &--sites {
      background: linear-gradient(305.49deg, #e28f11 40.79%, #ffea29 118.14%);

      @include shadowsMixin(rgba(244, 169, 22, 0.3));
    }

    &--youtube,
    &--traffic {
      background: linear-gradient(305.49deg, #0676dd 40.79%, #29f2ff 118.14%);

      @include shadowsMixin(rgba(22, 137, 244, 0.2));
    }

    &--adult,
    &--incognito {
      background: linear-gradient(305.49deg, #c40808 40.79%, #ff6262 118.14%);

      @include shadowsMixin(rgba(244, 22, 22, 0.2));
    }

    &--apps {
      background: linear-gradient(305.49deg, #1c8f1a 40.79%, #6dff29 118.14%);

      @include shadowsMixin(rgba(69, 222, 16, 0.2));
    }
  }

  &__item-heading {
    font-weight: 500;
    font-size: 19px;
    line-height: 1.15;
    text-align: center;
    margin: 25px 0 20px 0;
    color: #000000;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      margin: 10px 0;
    }
  }

  &__item-description {
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #515a5e;
  }
}

.traffic {
  @extend %main-grid;

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    @extend %main-heading;
    margin: 80px 0;

    @media screen and (max-width: 1024px) {
      margin: 40px 0;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    margin-bottom: 210px;
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
      justify-content: space-around;
      margin-bottom: 170px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 110px;
    }

    @media screen and (max-width: 500px) {
      margin-bottom: 40px;
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;

      .traffic__item-content {
        padding: 120px 120px 0 0;

        @media screen and (max-width: 1024px) {
          padding: 95px 95px 0 0;
        }

        @media screen and (max-width: 786px) {
          padding: 20px 0 0 20px;
        }
      }
    }
  }
  &__item-image {
    width: 600px;
    height: 600px;
    background-color: #f0f3f6;

    @media screen and (max-width: 1024px) {
      width: 495px;
      height: 495px;
    }

    @media screen and (max-width: 768px) {
      width: 350px;
      height: 350px;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      margin-bottom: 120px;
    }

    @media screen and (max-width: 400px) {
      margin-bottom: 80px;
    }

    & picture {
      display: flex;
      justify-content: center;
      position: relative;
    }
    & img {
      @extend %imageBorderShadow;

      position: absolute;
      top: 90px;
      width: 50%;

      @media screen and (max-width: 1024px) {
        max-width: 320px;
        top: 40px;
      }

      @media screen and (max-width: 768px) {
        max-width: 250px;
        top: 30px;
      }
    }
  }

  &__item-content {
    width: auto;
    padding: 120px 0 0 120px;

    @media screen and (max-width: 1024px) {
      width: 385px;
      padding: 95px 0 0 95px;
    }

    @media screen and (max-width: 768px) {
      width: 320px;
      padding: 80px 0 0 0;
    }

    @media screen and (max-width: 500px) {
      padding: 0;
    }
  }

  &__item-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.416;

    color: #000000;
    max-width: 480px;
  }

  &__item-description {
    font-size: 14px;
    line-height: 20px;

    color: #515a5e;

    max-width: 430px;
  }

  &__start {
    @extend %banner;
    background: linear-gradient(336.69deg, #a616f4 31.64%, #ff29fe 112.47%);
    box-shadow: 0px 25px 40px rgba(166, 22, 244, 0.2);
  }

  &__start-heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.15;
    color: #ffffff;
    margin-top: 28px;

    @media screen and (max-width: 1024px) {
      font-size: 27px;
    }
  }

  &__start-description {
    font-size: 18px;
    line-height: 1.15;
    margin: 0;

    color: #ffffff;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }

  &__start-trial {
    @extend %banner-button;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  }
}

.qa {
  @extend %main-grid;

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    @extend %main-heading;
    margin: 80px 0;

    @media screen and (max-width: 1024px) {
      margin: 40px 0;
    }
  }

  &__list {
    width: 100%;
    padding: 0;
  }

  &__item {
    list-style: none;
    background-color: #f2f5f8;
    border-radius: 5px;
    padding: 0 30px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 500px) {
      padding: 0 15px;
    }
  }

  &__item-heading {
    padding: 25px 50px;
    position: relative;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;

    color: #000000;

    &::before {
      content: url('/icons/question.svg');
      position: absolute;
      left: 0;
    }

    &::after {
      content: url('/icons/expand-icon.svg');
      position: absolute;
      top: calc(50% - (23px / 2));
      right: 0;
      transform: rotate(360deg);
      transition: transform ease-in-out 0.3s;
    }

    @media screen and (max-width: 500px) {
      font-size: 18px;
      padding: 15px 30px;
    }

    &:not(.collapsed) {
      &::after {
        transform: rotate(180deg);
        transition: transform ease-in-out 0.3s;
      }
    }
  }

  &__item-divider {
    opacity: 0.1;
    color: #0d0d0d;
  }

  &__item-collapse {
    font-size: 14px;
    line-height: 1.4;

    color: #515a5e;
    padding-bottom: 30px;
  }

  &__item-text {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__ask {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: #000000;
    margin: 55px 0;

    @media screen and (max-width: 768px) {
      margin: 25px 0;
    }
  }

  &__ask-link {
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #a616f4;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 0;

    &:hover {
      text-decoration: none;
      color: lighten(#a616f4, 20%);
    }
  }

  &__start {
    @extend %banner;
    background: linear-gradient(340.68deg, #0676dd 40.79%, #29f2ff 118.14%);
    box-shadow: 0px 15px 30px rgba(22, 137, 244, 0.2);
    position: relative;
  }

  &__start-heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.15;

    color: #ffffff;
    margin: 0 0 25px 0;

    @media screen and (max-width: 500px) {
      font-size: 26px;
    }
  }

  &__start-list {
    display: flex;
    flex-direction: row;
    width: 585px;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__start-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;

    color: #ffffff;
    max-width: 195px;

    @media screen and (max-width: 500px) {
      font-size: 19px;
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__start-item-price {
    display: block;

    font-size: 16px;

    @media screen and (max-width: 500px) {
      font-weight: normal;
    }
  }

  &__start-trial {
    @extend %banner-button;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
    transition: opacity ease-in 0.2s;
  }

  &__start-image {
    position: absolute;
    bottom: 40px;
    right: 40px;
    top: 40px;

    @media screen and (max-width: 1024px) {
      bottom: 30px;
      right: 20px;
      top: 65px;
    }

    @media screen and (max-width: 786px) {
      display: none;
    }
  }
}
