.terms {
  @extend %main-grid;

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }

  &__heading {
    @extend %main-heading;
    margin: 25px 0;
  }

  &__text {
    width: 100%;
  }

  &__list {
    counter-reset: item;
    padding: 0;
  }
  &__item {
    display: block;
    margin: 10px 0;

    &::before {
      content: counters(item, '.') '. ';
      counter-increment: item;
    }

    &--cyrillic {
      &::before {
        content: '';
      }
    }

    &--cyrillic-double {
      &::before {
        content: '';
      }
    }
  }

  &__sub-list {
    counter-reset: itemRoman;
    list-style-type: none;
  }

  &__sub-item {
    &::before {
      content: counter(itemRoman, lower-roman) ') ';
      counter-increment: itemRoman;
    }
  }
}
