<template>
  <section class="confirm">
    <div v-if="!isFormSubmitted" class="confirm__content">
      <b-form
        id="updatePasswordForm"
        class="confirm__form"
        novalidate
        @submit.prevent="onSubmit"
      >
        <b-form-group
          :class="{ 'has-error': $v.form.password.$error }"
          :label="$t('changePasswordPage.form.password.label')"
          label-for="password"
        >
          <b-form-input
            id="password"
            class="form-control"
            type="password"
            v-model.trim="$v.form.password.$model"
          ></b-form-input>
          <div v-if="$v.form.password.$dirty" class="messages">
            <p v-if="!$v.form.password.required" class="help-block error">
              {{ $t('changePasswordPage.form.password.errors.required') }}
            </p>
            <p v-if="!$v.form.password.minLength" class="help-block error">
              {{ $t('changePasswordPage.form.password.errors.minLength') }}
            </p>
          </div>
        </b-form-group>
        <b-form-group
          :label="$t('changePasswordPage.form.confirmPassword.label')"
          label-for="confirmPassword"
          :class="{ 'has-error': $v.form.confirmPassword.$error }"
        >
          <b-form-input
            id="confirmPassword"
            class="form-control"
            type="password"
            v-model.trim="$v.form.confirmPassword.$model"
          ></b-form-input>
          <div v-if="$v.form.confirmPassword.$dirty" class="messages">
            <p
              v-if="!$v.form.confirmPassword.sameAsPassword"
              class="help-block error"
            >
              {{
                $t(
                  'changePasswordPage.form.confirmPassword.errors.sameAsPassword',
                )
              }}
            </p>
          </div>
        </b-form-group>
        <button
          type="submit"
          class="btn btn-block"
          :disabled="$v.form.$invalid"
        >
          {{ $t('changePasswordPage.form.submitBtn') }}
        </button>
      </b-form>
    </div>
    <div v-if="isFormSubmitted" class="confirm__content">
      <h1 class="confirm__heading">{{ headingText }}</h1>
      <nuxt-link to="/" class="confirm__home-btn btn">
        {{ buttonText }}
      </nuxt-link>
    </div>
  </section>
</template>

<script>
import { required, sameAs, minLength } from 'vuelidate/lib/validators';
import * as md5 from 'md5';

export default {
  data() {
    return {
      form: {
        password: '',
        confirmPassword: '',
      },
      isFormSubmitted: false,
      headingText: '',
      buttonText: '',
    };
  },
  methods: {
    onSubmit() {
      const url =
        'https://test-s1.myredex.com/jet_api/mobile/v1/changePassword';
      const code = this.$route.query.code;
      const formObj = {
        token: code,
        password: md5(this.form.password),
      };

      const formData = JSON.stringify(formObj);

      const requestOptions = {
        method: 'POST',
        body: formData,
        redirect: 'follow',
      };

      const changePasswordResponse = fetch(url, requestOptions)
        .then(response => {
          this.isFormSubmitted = true;
          if (response.status === 200) {
            this.$fireAnalytics.logEvent('change_password_success');
            this.headingText = this.$t('changePasswordPage.success.heading');
            this.buttonText = this.$t('changePasswordPage.success.buttonText');
          } else {
            this.$fireAnalytics.logEvent('change_password_failed');
            this.headingText = this.$t('changePasswordPage.error.heading');
            this.buttonText = this.$t('changePasswordPage.error.buttonText');
          }
        })
        .catch(err => this.$fireAnalytics.logEvent('change_password_failed'));
    },
  },
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(8),
      },
      confirmPassword: {
        sameAsPassword: sameAs('password'),
      },
    },
  },
};
</script>

<style lang="scss">
.confirm {
  @extend %main-grid;
  height: 100%;

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 10;
  }

  &__heading {
    @extend %main-heading;
    margin: 60px 0 30px 0;

    @media screen and (max-width: 1024px) {
      margin: 20px 0;
    }
  }

  &__form {
    width: 450px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}
</style>
