<template>
  <div
    data-aos-easing="ease-out-back"
    data-aos-duration="1000"
    data-aos-delay="0"
  >
    <header-component />
    <nuxt />
    <footer-component />
  </div>
</template>

<script>
import Header from './../components/header/Header';
import Footer from './../components/footer/Footer';

export default {
  components: {
    'header-component': Header,
    'footer-component': Footer,
  },
};
</script>

<style></style>
