<template>
  <particles-bubbles className="error-layout__background">
    <div class="error-layout">
      <div class="error-layout__content">
        <h1 class="error-layout__heading" v-if="error.statusCode === 404">
          {{ $t('errorPage.notFound') }}
        </h1>
        <h1 class="error-layout__heading" v-else>
          {{ $t('errorPage.other') }}
        </h1>
      </div>
    </div>
  </particles-bubbles>
</template>

<script>
import ParticlesBubbles from './../components/particles-bubbles/ParticlesBubbles';

export default {
  props: ['error'],
  components: {
    ParticlesBubbles,
  },
  head() {
    return { title: this.$t('errorPage.pageTitle') };
  },
  mounted() {
    this.$fireAnalytics.logEvent('error_page_loaded');
  },
};
</script>

<style lang="scss">
.error-layout {
  @extend %main-grid;
  position: relative;
  height: calc(100% - 150px);

  &__background {
    width: 100%;
    height: 70vh;

    & > canvas {
      position: absolute;
      top: 0;
      left: 0;
      height: 90%;
    }
  }

  &__content {
    @extend %main-container;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 10;

    @media screen and (max-width: 1024px) {
      width: auto;
    }
  }

  &__heading {
    @extend %main-heading;
    margin: 60px 0 30px 0;

    @media screen and (max-width: 1024px) {
      margin: 20px 0;
    }
  }

  &__home-btn {
    background: #a616f4;
    box-shadow: 0px 10px 30px rgba(166, 22, 244, 0.3);
    border-radius: 49px;
    padding: 20px 30px;
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
      color: #ffffff;
    }
  }
}
</style>
