<template>
  <div>
    <header-component :onlyLogo="true" />
    <nuxt />
  </div>
</template>

<script>
import Header from './../components/header/Header';

export default {
  components: {
    'header-component': Header,
  },
};
</script>

<style></style>
