<template>
  <div
    style="display: flex;flex-direction: column;height: 100%;"
    :style="{'minHeight': `${minHeight}px`}"
  >
    <header-component :onlyLogo="true" />
    <particles-bubbles class="confirm__background"></particles-bubbles>
    <nuxt />
  </div>
</template>

<script>
import Header from './../components/header/Header';
import ParticlesBubbles from './../components/particles-bubbles/ParticlesBubbles';

export default {
  data() {
    return {
      minHeight: 0,
    };
  },
  components: {
    'header-component': Header,
    ParticlesBubbles,
  },
  mounted() {
    this.minHeight = window.innerHeight;
  },
};
</script>

<style></style>
