<template>
  <div>
    <div class="heading">
      <p class="heading__content">
        {{ $t('blockedPage.heading') }}
      </p>
    </div>
    <div class="content">
      <div class="content__wrapper">
        <div class="content__image">
          <img data-src="/icons/blocked.svg" alt class="lazyload" />
        </div>
        <h1 class="content__heading">
          {{ $t('blockedPage.subheading') }}
        </h1>
        <p class="content__text">
          {{ $t('blockedPage.reasons.words[0]') }}
          <br />{{ $t('blockedPage.reasons.words[1]') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'blank',
};
</script>

<style lang="scss" src="assets/styles/pages/_blocked.scss"></style>
