<template>
  <change-password />
</template>

<script>
import ChangePassword from './../components/pages/change-password/ChangePassword';

export default {
  layout: 'particlesLayout',
  head() {
    return {
      title: this.$t('changePasswordPage.pageTitle'),
    };
  },
  components: {
    ChangePassword,
  },
};
</script>

<style></style>
