<template>
  <confirm-email />
</template>

<script>
import ConfirmEmail from './../components/pages/confirm-email/ConfirmEmail';

export default {
  layout: 'particlesLayout',
  head() {
    return {
      title: this.$t('confirmEmailPage.pageTitle'),
    };
  },
  components: {
    ConfirmEmail,
  },
};
</script>

<style></style>
