<template>
  <privacy-policy />
</template>

<script>
import PrivacyPolicy from './../components/pages/privacy-policy/PrivacyPolicy';

export default {
  head() {
    return {
      title: this.$t('privacyPage.pageTitle'),
    };
  },
  components: {
    PrivacyPolicy,
  },
};
</script>

<style></style>
