<template>
  <terms-page />
</template>

<script>
import TermsPage from './../components/pages/terms/TermsPage';

export default {
  head() {
    return {
      title: this.$t('termsPage.pageTitle'),
    };
  },
  components: {
    TermsPage,
  },
};
</script>

<style></style>
