<template>
  <section class="confirm">
    <div v-if="isrequestSended" class="confirm__content">
      <h1 class="confirm__heading">{{ headingText }}</h1>
      <nuxt-link to="/" class="confirm__home-btn">{{ buttonText }}</nuxt-link>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      isrequestSended: false,
      headingText: '',
      buttonText: '',
    };
  },
  methods: {
    confirmEmail(code) {
      if (code && code.length) {
        const url = new URL(
          'https://test-s1.myredex.com/jet_api/mobile/v1/verify_email',
        );
        const requestOptions = { method: 'GET', redirect: 'follow' };

        url.searchParams.append('code', code);

        const tokenResponse = fetch(url, requestOptions)
          .then(response => {
            this.isrequestSended = true;
            if (response.status === 200) {
              this.$fireAnalytics.logEvent('email_confirm_success');
              this.headingText = this.$t('confirmEmailPage.success.heading');
              this.buttonText = this.$t('confirmEmailPage.success.buttonText');
            } else {
              this.$fireAnalytics.logEvent('email_confirm_failed');
              this.headingText = this.$t('confirmEmailPage.error.heading');
              this.buttonText = this.$t('confirmEmailPage.error.buttonText');
            }
          })
          .catch(err => {
            this.$fireAnalytics.logEvent('email_confirm_failed');
          });
      }
    },
  },
  mounted() {
    this.confirmEmail(this.$route.query.code);
  },
};
</script>

<style lang="scss" src="assets/styles/pages/_confirm-email.scss"></style>
